@import url(https://fonts.googleapis.com/css?family=Nunito);
:root {
	--blue: #3490dc;
	--indigo: #6574cd;
	--purple: #9561e2;
	--pink: #f66d9b;
	--red: #e3342f;
	--orange: #f6993f;
	--yellow: #ffed4a;
	--green: #38c172;
	--teal: #4dc0b5;
	--cyan: #6cb2eb;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #3490dc;
	--secondary: #6c757d;
	--success: #38c172;
	--info: #6cb2eb;
	--warning: #ffed4a;
	--danger: #e3342f;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: "Nunito", sans-serif;
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
}

/**
* Table of Contents:
*
* 01.0 - Universal
* 02.0 - Header
* 03.0 - Navigation
* 04.0 - Services
* 05.0 - Portfolio
* 06.0 - Testimonial
* 07.0 - Contact
* 08.0 - Footer
* 09.0 - Responsive Fixes
* -----------------------------------------------------------------------------
*/

/* ///////////////////////////////////////////////////////////////////// 
//  01 - Universal
/////////////////////////////////////////////////////////////////////*/

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: "Nunito", "Lato", "Lucida Grande", Tahoma, Verdana, sans-serif;
	background-color: #161616;
	color: #8d9d6e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Nunito", "Dosis", sans-serif;
}

a {
	color: #e66f69;
	transition: 0.4s ease all;
	outline: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	color: #e66f69;
	outline: none;
}

.block_title {
	font-size: 4em;
	font-weight: 300;
	text-align: center;
	overflow: hidden;
	margin-bottom: 70px;
}

.block_title:before,
.block_title:after {
	content: "";
	background: #ccc;
	display: inline-block;
	height: 1px;
	position: relative;
	width: 42%;
	vertical-align: middle;
}

.block_title:before {
	right: 0.5em;
	margin-left: -42%;
}

.block_title:after {
	left: 0.5em;
	margin-right: -42%;
}
/*Added by shams*/
.divider-custom {
	/*margin: 1.25rem 0 1.5rem;*/
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.divider-custom .divider-custom-line:first-child {
	margin-right: 1rem;
}
.divider-custom .divider-custom-line {
	width: 100%;
	max-width: 12rem;
	height: 0.25rem;
	background-color: #2c3e50;
	border-radius: 1rem;
	border-color: #2c3e50 !important;
	/*font-size: 3rem;*/
}
.divider-custom .divider-custom-icon {
	color: #2c3e50 !important;
	font-size: 2rem;
}
.divider-custom .divider-custom-line:last-child {
	margin-left: 1rem;
}
.page-section-heading {
	font-size: 3rem;
	line-height: 1;
	/*font-family: "Montserrat";*/
	font-weight: 700;
	color: #fff;
}
.water-text {
	font-size: 6rem;
	font-weight: 700;
	color: #121212;
	line-height: 1;
	font-family: Nunito, sans-serif;
	letter-spacing: 1px;
	position: absolute;
	left: 0;
	right: 0;
	top: -50%;
	z-index: -1;
}
.text-secondary {
	color: #2c3e50 !important;
}

/*signature fonts*/
@font-face {
	font-family: signature;
	src: url("../fonts/TheRichJulliettaDemo-ZVKJZ.ttf");
}
@font-face {
	font-family: signature2;
	src: url("../fonts/Amarula Personal Use.ttf");
}
@font-face {
	font-family: signature3;
	src: url("../fonts/Beauty Dream.otf");
}
.logo-name {
	font-family: signature;
	text-decoration: underline;
}
.vue-scroll-up {
	background: crimson !important;
	right: 50% !important;
	bottom: 2% !important;
}
/* ///////////////////////////////////////////////////////////////////// 
//  02 - Header 
/////////////////////////////////////////////////////////////////////*/
header::before {
	/* content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; */
	height: 100vh;
	/* background-color: rgba(0, 0, 0, 0.65); */
}
header {
	/* background: url(../images/portrait_img/laravel.jpg) no-repeat; */
	/* background-size: cover;
	background-attachment: fixed;
	background-position: 20% 50%; */
	height: 100vh;
}
.bigheadline {
	/*font-family: "Raleway", sans-serif;*/
	font-weight: 200;
	font-size: 6em;
	margin: 0 auto;
	/*text-align: center;*/
}
.subheadline {
	/*font-family: "Titillium Web", sans-serif;*/
	font-weight: 200;
	font-size: 3em;
	margin: 0;
}

.scrollDown {
	font-size: 4em;
	color: crimson;
	position: absolute;
	bottom: 10%;
	left: 49%;
}

.scrollDown:hover {
	color: #e66f69;
	transition: 0.4s ease all;
}
.scrollUp:hover {
	color: #e66f69 !important;
}

.modal-header {
	background: rgb(230, 72, 72);
	color: white;
	border-bottom: none;
}

.close {
	font-size: 40px;
	color: white;
	opacity: 1;
	margin-top: -18px;
}

.modal-title {
	font-size: 25px;
	font-weight: 600;
}

.modal-body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal-body {
	position: relative;
	background-size: cover;
	background: url(../images/portrait_img/typewriter-5626841_1920.jpg) bottom;
}
/*
 * Notepaper quote
 */

.notepaper {
	text-align: center;
	font-style: italic;
	position: relative;
	color: lightslategrey;
	text-shadow: 0 1px 1px black;
}

.quote {
	/*font-family: Georgia, serif;*/
	font-size: 24px;
}

.curly-quotes:before,
.curly-quotes:after {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	line-height: 48px;
	font-size: 50px;
	opacity: 0.5;
}

.curly-quotes:before {
	content: "\201C";
	margin-right: 4px;
	/*margin-left: -8px;*/
}

.curly-quotes:after {
	content: "\201D";
	/*margin-left: 4px;*/
	/*margin-right: -8px;*/
}

.quote-by {
	display: block;
	/*padding-right: 10px;*/
	text-align: center;
	font-size: 16px;
	/*font-style: italic;*/
	/*color: #84775c;*/
}

section .skills {
	font-size: 6rem;
	display: grid;
	grid-template-columns: repeat(6, 0fr);
	text-align: center;
	grid-row-gap: 5%;
	justify-content: center;
	opacity: 1;
	transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
		opacity 0.3s 0.25s ease-out;
	will-change: transform, opacity;
}
section .skills .technology {
	cursor: pointer;
	padding: 13.6px;
	border-radius: 5px;
}
section .skills .technology:hover {
	background-color: #11abb0;
	border-color: #11abb0;
	color: #fff;
}

/*.lt-ie8 .notepaper {*/
/*    padding: 15px 25px;*/
/*}*/
/*END of quote*/
@media (max-width: 1400px) {
	.center {
		width: 70%;
	}
	/*.bigheadline {*/
	/*    font-size: 3em;*/
	/*}*/
	/*.fa-quote-left {*/
	/*    font-size: 2em;*/
	/*}*/
	/*.center span {*/
	/*    font-size: 2em;*/
	/*}*/
}
/* ///////////////////////////////////////////////////////////////////// 
//  03 - Navigation 
/////////////////////////////////////////////////////////////////////*/

#navigation {
	background: rgb(15 23 42);
	/*height: 75px;*/
}

.nav-wrap {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

/*.logo {*/
/*	height: 67px;*/
/*	margin-top: -3px;*/
/*}*/

.logo-text {
	font-size: 2em;
	color: #fff;
	/*font-family: "Raleway", sans-serif;*/
	font-weight: 100;
}

@media (max-width: 575px) {
	.logo-text {
		font-size: 2em;
	}

	section .skills {
		font-size: 2em;
	}

	.logo {
		padding-top: 10px;
		margin-top: 0px;
	}
}

/* Nav Buttons--------------------------------------
---------------------------------------------*/

.cv a {
	color: white;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: 100;
}
.mid-nav {
	font-size: 2em;
	/*margin-top: 17px;*/
}
.resu a {
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: 100;
}

.cv a:hover {
	color: #e66f69;
}

.resu a:hover {
	color: #e66f69;
}

@media (max-width: 575px) {
	.cv a {
		letter-spacing: 5px;
		font-size: 18px;
	}

	.resu a {
		letter-spacing: 2px;
		font-size: 18px;
	}

	/*.mid-nav {*/
	/*	margin-left: -40%;*/
	/*	margin-top: 23px;*/
	/*}*/
}

/* Side Menu--------------------------------------
---------------------------------------------*/

.burger {
	width: 60%;
	padding: 15%;
	/*position: absolute;*/
	display: inline-block;
	/*justify-content: center;*/
	/*align-items: center;*/
	z-index: 2;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	/*right: 0;*/
	/*margin-top: 12px;*/
	/*margin-right: 40px;*/
}

.burger:hover .burger__patty,
.burger:hover .burger__patty:before,
.burger:hover .burger__patty:after {
	background: #e66f69;
}

.burger--active {
	visibility: visible;
	margin-left: 40%;
}

.burger__patty {
	position: relative;
	height: 2px;
	width: 45px;
	background: white;
}

.burger__patty:before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0;
	height: 2px;
	width: 100%;
	background: white;
}

.burger__patty:after {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	height: 2px;
	width: 100%;
	background: white;
}

.burger__patty,
.burger__patty:before,
.burger__patty:after {
	will-change: transform;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger--active .burger__patty {
	transform: rotate(90deg);
}

.burger--active .burger__patty:before {
	transform: rotate(45deg) translate(10px, -8px) scaleX(0.7);
}

.burger--active .burger__patty:after {
	transform: rotate(-45deg) translate(10px, 8px) scaleX(0.7);
}

.nav__list {
	visibility: hidden;
	position: absolute;
	/*margin-top: 100vh;*/
	right: 0;
	height: 90vh;
	flex-flow: column wrap;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	display: flex;
}

.nav__item {
	position: relative;
	list-style-type: none;
	height: auto;
	width: 120px;
	text-align: center;
	flex: 1;
	z-index: 999;
}

.nav__link {
	display: inline-block;
	justify-content: center;
	align-items: center;
	/*display: -ms-flexbox;*/
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	font-size: 24px;
	background: #313d4d;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav__link img {
	margin-top: 4vh;
	width: 45px;
	transition: 0.3s;
}

.nav__link:hover {
	background: #f14f46;
	left: -96px;
	width: 180%;
}

.tooltiptext {
	display: none;
	color: white;
	font-size: 15px;
	margin-top: 3%;
	font-weight: 600;
	letter-spacing: 1px;
}

.nav__link:hover .tooltiptext {
	display: block;
}
.nav__link:hover img {
	margin-top: 3.5vh !important;
}

.nav__list--active {
	visibility: visible;
	/*margin-top: 10px;*/
}

.nav__link__active {
	background: #f14f46;
}
@media (max-height: 770px) {
	.nav__link:hover img {
		margin-top: 3vh !important;
	}
	.nav__link img {
		margin-top: 3.5vh;
	}
	.tooltiptext {
		margin-top: 1%;
	}
	.nav__list {
		height: 91vh;
	}
}

@media (max-height: 750px) {
	.tooltiptext {
		margin-top: 1%;
	}

	.nav__link img {
		margin-top: 4.5vh;
		width: 30px;
	}

	.nav__list {
		height: 89vh;
	}

	.nav__item {
		width: 100px;
	}

	.nav__link:hover {
		left: -50px;
		width: 150%;
	}

	.nav__link:hover img {
		margin-top: 3.5vh !important;
	}
	.burger {
		/*margin-right: 30px;*/
	}
	.burger__patty {
		/*width: 40px;*/
	}

	.burger__patty:before {
		top: -10px;
	}

	.burger__patty:after {
		top: 10px;
	}
	.burger--active .burger__patty:before {
		transform: rotate(45deg) translate(9px, -8px) scaleX(0.7);
	}

	.burger--active .burger__patty:after {
		transform: rotate(-45deg) translate(9px, 8px) scaleX(0.7);
	}
}

@media (max-width: 768px) {
	.tooltiptext {
		margin-top: 1%;
	}

	.nav__link img {
		margin-top: 4.5vh;
		width: 30px;
	}

	.nav__list {
		height: 89vh;
	}

	.nav__item {
		width: 100px;
	}

	.nav__link:hover {
		left: -50px;
		width: 150%;
	}
	.nav__link:hover img {
		margin-top: 3.5vh !important;
	}
	.burger {
		/*margin-right: 30px;*/
	}

	.burger__patty {
		width: 40px;
	}

	.burger__patty:before {
		top: -10px;
	}

	.burger__patty:after {
		top: 10px;
	}
	.burger--active .burger__patty:before {
		transform: rotate(45deg) translate(9px, -8px) scaleX(0.7);
	}

	.burger--active .burger__patty:after {
		transform: rotate(-45deg) translate(9px, 8px) scaleX(0.7);
	}
}

@media (max-width: 390px) {
	.side_nav {
		padding-left: 10px;
	}
}
.modal {
	z-index: 99999;
}
/*/////////////////////////////////////////////////////// 
//03 - About
///////////////////////////////////////////////////////*/
.about-area {
	padding: 100px 0px;
}
.about-content-header {
	text-align: center;
}

.about-content-right h5 {
	font-size: 2em;
	font-weight: 600;
	word-spacing: 7px;
	margin-bottom: 25px;
}
.about-desc {
	font-size: 1rem;
	color: #bbb;
	line-height: 1.7;
	/*font-weight: 600;*/
	/*word-spacing: 3px;*/
}
.about-desc span {
	font-weight: bold;
	font-family: Lato;
}
.portrait {
	position: relative;
	width: 100%;
	max-width: 270px;
	height: 370px;
	border-radius: 5px;
	z-index: 2;
}
.img-link {
	position: relative;
}
.portrait_frame {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	left: 25px;
	top: 25px;
	border: 3px solid #e66f69;
	z-index: -1;
	transition: 0.3s;
}
.span-typing {
	color: #12d640;
}
.down_cv {
	border-color: rgb(230, 97, 97);
	color: rgb(230, 97, 97);
}
.down_cv:hover {
	background-color: rgb(230, 97, 97);
	color: #ffffff;
}
.img-link:hover .portrait {
	filter: grayscale(0%);
}
.img-link:hover .portrait_frame {
	left: 15px;
	top: 15px;
}
@media (max-width: 992px) {
	.portrait {
		max-width: 250px;
		height: 350px;
	}
}
@media (max-width: 768px) {
	.about-content-right h5 {
		width: 100%;
	}
}
/* ///////////////////////////////////////////////////////////////////// 
//  04 - experience
/////////////////////////////////////////////////////////////////////*/
.resume-content {
	border-left: 2px solid #48636a;
}
.resume-item {
	margin-bottom: 30px;
	margin-left: 20px;
	padding: 20px;
	position: relative;
	background-color: #161616;
	border-radius: 15px;
	border-left: 2px solid #48636a;
	-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}
.resume-item:before {
	content: "";
	width: 17px;
	height: 2px;
	left: -17px;
	top: 24px;
	position: absolute;
	background-color: #48636a;
}
.resume-item:after {
	content: "";
	top: 16px;
	height: 16px;
	width: 16px;
	left: -31px;
	position: absolute;
	border: 2px solid #48636a;
	border-radius: 50%;
	background-color: #161616;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.resume-item .ins-name {
	color: #fff;
	text-transform: uppercase;
}
.resume-item .degree {
	color: #48636a;
	margin: 10px 0;
}

/*#award-box {*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    padding: 60px 0;*/
/*}*/

/*#award-box:before {*/
/*    content: "";*/
/*    width: 1px;*/
/*    height: 100%;*/
/*    background: #cfcdcd;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 50%;*/
/*}*/

#award-box .award {
	width: 50%;
	clear: both;
	position: relative;
}

#award-box .award:before,
#award-box .award:after {
	content: "";
	display: block;
	clear: both;
}

#award-box .award:first-child:before,
#award-box .award:last-child:before {
	content: "";
	width: 11px;
	height: 11px;
	background: #cfcdcd;
	box-sizing: content-box;
	border: 5px solid #fff;
	box-shadow: 0 0 0 2px #cfcdcd;
	position: absolute;
	top: -54px;
	right: -11px;
	transform: rotate(45deg);
}

#award-box .award:last-child:before {
	top: auto;
	bottom: -54px;
}

#award-box .award:last-child:nth-child(even):before {
	right: auto;
	left: -11px;
}

#award-box .award-icon {
	width: 24px;
	height: 24px;
	background: #fff;
	border: 1px solid #cfcdcd;
	position: absolute;
	top: 17px;
	right: -13px;
	z-index: 1;
	transform: rotate(45deg);
}

#award-box .award-icon:before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: background-color 0.2s ease 0s;
}

#award-box .award:hover .award-icon:before {
	background: #e66f69;
}

#award-box .award-content {
	width: 85%;
	padding: 18px 30px;
	background: #fff;
	text-align: right;
	float: left;
	border: 1px solid transparent;
	position: relative;
	transition: all 0.3s ease 0s;
}

#award-box .award:hover .award-content {
	border: 1px solid #e66f69 !important;
}

#award-box .award-content:before {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	background: #fff;
	border: 1px solid #cfcdcd;
	position: absolute;
	top: 21px;
	right: -7.3px;
	transform: rotate(45deg);
	transition: all 0.2s ease 0s;
}

#award-box .award:hover .award-content:before {
	background: #e66f69;
	border-color: #e66f69;
}

#award-box .award-content:after {
	content: "";
	width: 11%;
	height: 1px;
	background: #cfcdcd;
	position: absolute;
	top: 28px;
	right: -14%;
}

#award-box .date {
	display: block;
	font-size: 15px;
	font-weight: 600;
	color: #39b3ff;
	margin: 0 0 8px;
	transition: all 0.3s ease 0s;
}

#award-box .award:hover .date {
	color: #444;
}

#award-box .title {
	font-size: 18px;
	color: #444;
	margin-top: 0;
	transition: all 0.3s ease 0s;
}

#award-box .award:hover .title {
	color: #39b3ff;
}

#award-box .description {
	font-size: 16px;
	color: #777;
	line-height: 28px;
	margin-top: 8px;
}

#award-box .award:nth-child(2n),
#award-box .award:nth-child(2n) .award-content {
	float: right;
	text-align: left;
}

#award-box .award:nth-child(2n) .award-icon {
	right: 0;
	left: -12px;
}

#award-box .award:nth-child(2n) .award-content:before {
	left: -7.3px;
}

#award-box .award:nth-child(2n) .award-content:after {
	left: -14%;
}

.award-content-header h4 {
	color: black;
	transition: all 0.3s ease 0s;
}

.fa-globe-asia {
	color: #39b3ff;
}

.fa-laptop {
	color: #ffc107;
}

.fa-camera {
	color: #28a745;
}

.fa-chart-area {
	color: #d400ff;
}

#award-box .award:hover .exp-icon {
	color: #e66f69;
	transition: all 0.3s ease 0s;
}

#award-box .award:hover .award-content-header h4 {
	color: #e66f69;
}

.award-content-date span {
	color: #e66f69;
	transition: all 0.3s ease 0s;
	font-size: 15px;
	font-weight: 600;
}

#award-box .award:hover .award-content-date span {
	color: #000000;
}

@media only screen and (max-width: 767px) {
	#award-box {
		padding-left: 20px;
	}

	#award-box:before {
		left: 20px;
	}

	#award-box .award {
		width: 100%;
	}

	#award-box .award,
	#award-box .award-content {
		float: right;
		padding: 5px;
		text-align: left;
	}

	#award-box .award:first-child:before,
	#award-box .award:last-child:nth-child(odd):before {
		right: auto;
		left: -11px;
	}

	#award-box .award-icon {
		right: 0;
		left: -12px;
	}

	#award-box .award-content:before {
		left: -7.3px;
	}

	#award-box .award-content:after {
		left: -14%;
	}
}

/* ///////////////////////////////////////////////////////////////////// 
//  05 - Portfolio
/////////////////////////////////////////////////////////////////////*/
.mbn-50 {
	margin-bottom: -50px;
}
.align-items-center {
	-ms-flex-align: center !important;
	-webkit-box-align: center !important;
	align-items: center !important;
}
.portfolio-area .row [class*="col-"]:nth-child(odd) .portfolio-item {
	margin-bottom: 80px;
}
.portfolio-item__thumb {
	position: relative;
}
img,
svg {
	vertical-align: middle;
}
.portfolio-item__thumb:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	margin: 10px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-area a {
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.portfolio-area a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}
.portfolio-item__thumb img {
	width: 100%;
}
.v-lazy-image-loaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}
.v-lazy-image {
	/*-webkit-filter: blur(10px);*/
	/*filter: blur(10px);*/
	/*-webkit-transition: -webkit-filter .7s;*/
	/*transition: -webkit-filter .7s;*/
	transition: filter 0.7s;
	transition: filter 0.7s, -webkit-filter 0.7s;
}
.portfolio-item__content .portfolio-title {
	font-family: Nunito, sans-serif;
	margin-top: 20px;
	padding-left: 40px;
	position: relative;
}
.portfolio-item__content p {
	font-size: 13px;
	padding-left: 40px;
}
.portfolio-item__content .portfolio-title:before {
	left: 0;
	top: 50%;
	width: 30px;
	height: 2px;
	content: "";
	position: absolute;
	background-color: #8d9d6e;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
#portfolio {
	padding: 80px 0px 0px 0px;
}

.port {
	list-style: none;
	text-align: left;
	padding-bottom: 40px;
}

.port .item {
	display: inline-block;
	text-align: left;
	position: relative;
}

.port figure {
	margin: 0;
	position: relative;
}

.port figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.port figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #111;
	color: #e66f69;
}

.port figcaption h3 {
	margin: 0px 0px 8px 0px;
	padding: 0;
	color: #fff;
}

.port figcaption span:before {
	content: "Date : ";
}

.port figcaption a {
	text-align: center;
	padding: 8px 15px;
	display: inline-block;
	color: #fff;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	width: 100%;
	/*position: absolute;*/
	/*bottom: 31px;*/
	/*right: 20px;*/
}

.button {
	background: transparent;
	cursor: pointer;
	border: 1px solid #fff;
	cursor: pointer;
}

.button:hover {
	background: white;
	color: #000;
}

.btn-center {
	display: block;
	padding: 80px 0px 60px 0px;
	text-align: center;
}

.big.button {
	border: 1px solid #000;
	font-size: 2em;
	color: #000;
	padding: 15px 30px;
}

.big.button:hover {
	background: #000;
	color: #fff;
}

.item-space {
	margin-bottom: 30px;
}

.left_modal_body img {
	width: 100%;
	max-width: 500px;
}

.right_modal_body_des,
.right_modal_body_date {
	font-size: 16px;
	color: white;
}

.inline_flex_order {
	display: inline-flex;
	width: 100%;
	justify-content: space-around;
}

.my-scroll-up:hover {
	color: #e3342f;
}

.modal_work_name {
	color: #e3342f;
}
/*///////////////////////////////////////////////////////////////////
//**Skill Section
///////////////////////////////////////////////////////////////////*/
/*#skills {*/
/*    !*background-image: url("/images/skill_img/bg-stats.jpg");*!*/
/*    !*background-size: cover;*!*/
/*    !*background-position: center center;*!*/
/*    !*background-repeat: no-repeat;*!*/
/*}*/

/*.skill-cover {*/
/*    background-color: rgba(31, 31, 31, 0.68);*/
/*    */
/*}*/

button {
	outline: none !important;
}

.skill-item {
	padding: 20px 0;
	margin-bottom: 30px;
	background: rgba(144, 144, 144, 0.78);
}

.skill-item i {
	color: #2196f3;
}

.skill-item h2 {
	color: #fff;
	font-size: "hind", sans-serif;
	font-size: 35px;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 1px;
}

.skill-item p {
	color: #fff;
	font-family: "hind", sans-serif;
	/*text-transform: uppercase;*/
	font-weight: 300;
	margin-top: 0;
}
.skill_icon {
	color: rgb(0, 0, 0);
}
/* ///////////////////////////////////////////////////////////////////// 
//  06 - Testimonial 
/////////////////////////////////////////////////////////////////////*/
/*#testimonial::before {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    content: "";*/
/*    background-color: rgba(0, 0, 0, 0.650);*/
/*}*/

.testimonila-block {
	text-align: center;
}

.testimonila-block img {
	border-radius: 50%;
	border: 1px solid #000;
	max-width: 200px;
	max-height: 200px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.testimonila-block p {
	max-width: 60%;
	margin: 0 auto;
	margin-bottom: 20px;
	font-style: italic;
	font-size: 18px;
}

.testimonila-block strong {
	font-size: 2em;
}
/* Owl Carousel */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #e4e4e4 !important;
}
.owl-theme .owl-dots .owl-dot span {
	background: #869791 !important;
}
/* ///////////////////////////////////////////////////////////////////// 
//  07 - Contact
/////////////////////////////////////////////////////////////////////*/
.contact-section {
	padding: 80px 0;
	/*background-color: rgb(233, 233, 233);*/
	z-index: -5;
}
.contact-left {
	background-color: white;
	border-radius: 5px;
	padding: 5%;
}
.contact-left-header {
	width: 90%;
}
.contact-left-header h2 {
	color: rgb(230, 97, 97);
	font-size: 3em;
}
.contact-left img {
	max-height: 75px;
}
.fa-paper-plane {
	font-size: 20px;
	margin-left: 10px;
}
.send_btn {
	border-radius: 0px;
	border-color: rgb(230, 97, 97);
	color: rgb(230, 97, 97);
}
.send_btn:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(230, 97, 97);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.wrap-input100 {
	width: 90%;
	position: relative;
	border-bottom: 2px solid #d9d9d9;
	padding-bottom: 1%;
	margin-bottom: 3%;
}

.label-input100 {
	font-family: Poppins-Regular;
	font-size: 22px;
	color: #000000;
	line-height: 1.5;
	padding-left: 3px;
}

.input100 {
	display: block;
	width: 100%;
	background: transparent;
	font-family: Poppins-Medium;
	font-size: 18px;
	color: #333333;
	line-height: 1.2;
	padding: 0 5px;
	margin-top: 10px;
}

.focus-input100 {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.focus-input100::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 2px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	background: rgb(230, 97, 97);
}

input,
textarea {
	border: none !important;
	outline: none !important;
}
input.input100 {
	height: 40px;
}

textarea.input100 {
	min-height: 110px;
	padding-top: 9px;
	padding-bottom: 13px;
}

.input100:focus + .focus-input100::before {
	width: 100%;
}

.has-val.input100 + .focus-input100::before {
	width: 100%;
}
.contact-right::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.801);
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	left: 0;
	z-index: -1;
}
.contact-right {
	position: relative;
	background: url(/images/menu_img/pexels-brayden-law-1829191.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;
	height: 100%;
}
.contact-right-body {
	padding: 50px;
}
.contact-right-heading h2 {
	color: rgb(228, 79, 79);
	font-size: 3em;
}
.contact-right-heading p {
	font-size: 18px;
	color: rgb(247, 247, 247);
	margin-top: 10px;
	word-spacing: 3px;
}
.contact_icon {
	color: rgb(228, 79, 79);
	font-size: 50px;
}
/*//////////////////////////////////// 
//**Social Icon 
////////////////////////////////////////*/
.social {
	position: fixed;
	bottom: 100px;
	left: 0px;
	margin-left: 0px;
	text-align: center;
}
.footerline {
	background-color: rgb(228, 79, 79);
	height: 100px;
	width: 1px;
	position: fixed;
	margin-left: 35px;
	bottom: 0;
}
.social li {
	margin-bottom: 20px;
	display: block;
	margin-left: -25px;
}
.social_icon {
	font-size: 40px;
	color: rgb(228, 79, 79);
	transition: 0.2s;
	padding-top: 17px;
}
.social_icon:hover {
	color: rgb(0, 117, 252);
	padding-top: 1px;
}

.green {
	color: #12d640;
}

@media (max-width: 768px) {
	.social {
		display: none;
	}
}
/* ///////////////////////////////////////////////////////////////////// 
//  09 - Responsive Fixes
/////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 1400px) {
	.centered p {
		font-size: 3em;
	}

	.subheadline {
		font-size: 5em;
	}
}
@media all and (max-width: 1200px) and (min-width: 992px) {
	.services {
		max-width: 293px;
		height: 213px;
	}

	.service-wrap i {
		font-size: 4em;
		margin-top: 28px;
	}
	.service-wrap h3 {
		font-size: 1.4em;
	}

	.service-wrap p {
		font-size: 11px;
		padding: 0px 35px;
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.services {
		max-width: 293px;
		height: 293px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.service-wrap p {
		padding: 0px 40px;
		font-size: 14px;
	}

	.pe-dj {
		font-size: 6em;
	}
}

@media all and (max-width: 768px) {
	.services {
		max-width: 293px;
		height: 293px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.pe-dj {
		font-size: 6em;
	}

	.service-wrap i {
		margin-top: 50px;
	}

	.centered p {
		font-size: 2em;
	}

	.center {
		width: 100%;
	}
	.bigheadline {
		font-size: 3em;
	}
	/*.fa-quote-left {*/
	/*    font-size: 2em;*/
	/*}*/
	/*.center span {*/
	/*    font-size: 2em;*/
	/*}*/
	.subheadline {
		font-size: 2em;
	}

	.item-space figure {
		max-width: 360px;
		margin: 0 auto;
	}

	.moreDetails {
		margin-bottom: 60px;
	}

	.copyright,
	.designed {
		text-align: center;
	}

	.scrollDown {
		top: 70%;
		left: 46%;
	}
}

@media all and (max-width: 380px) {
	.centered p {
		font-size: 1em;
	}

	.bigheadline {
		font-size: 2em;
	}

	/*.fa-quote-left {*/
	/*    font-size: 2em;*/
	/*}*/
	/*.center span {*/
	/*    font-size: 1.5em;*/
	/*}*/
	.subheadline {
		/*font-family: "Titillium Web", sans-serif;*/
		font-size: 1.5em;
		font-weight: 200;
		margin: 0;
	}

	.testimonila-block p {
		max-width: 90%;
	}

	.social-icons a {
		width: 30px;
		height: 30px;
	}
}

@media all and (max-width: 480px) {
	.scrollDown {
		top: 70%;
		left: 44%;
	}
}
